
table{
  width: 500px;

}

table, th, td {
  border: 1px solid black;
}

tr.tableRow:nth-child(odd) {
    background:red;
}

#myForm{
  padding: 20px;
  border: 1px solid #004d4d;
  border-radius: 20px;
  height: 50px;
  width: 800px;
  background-color: #009999;
}

div#error{
  margin-top: 20px;
  color: red;
  width: 200px;
}
