.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    border: 1px solid;
    flex-grow: 0.25;
}

@media screen and (max-width: 720px) {
    .column {
        width: calc(50% - 2px);
    }
}

@media screen and (max-width: 360px) {
    .row {
        width: calc(100% - 2px)
    }
}
